<form class='login-page__form' action='/#profile'>
  <h2 class='login-page__header'>{{header}}</h2>
  <div class='login-page__input-groups'>
    {{#each fields}}
      <label class='login-page__label'>{{label}}</label>
      <input class='login-page__input' name='{{name}}' {{#if type}}type='{{type}}'{{/if}}>
    {{/each}}
  </div>
  <button type='submit'>{{button}}</button>
  <a class='login-page__link' href='#signup'>{{link}}</a>
</form>
