<div class='profile-page__button-panel'>
  {{{link}}}
</div>
<div class='profile-page__profile'>
  <div class='profile__avatar-container'>
    {{#if avatar}}
    <img class="profile__avatar" src="https://ya-praktikum.tech/api/v2/resources/{{avatar}}">
    {{else}}
    <div class='avatar-container__avatar circle'></div>
    {{/if}}
    <h2>{{name}}</h2>
  </div>
  <div class='profile__inputs'>
    {{{inputgroups}}}
  </div>
  <div class='profile__buttons'>
    {{{buttons}}}
  </div>
</div>
