---
header: Регистрация
fields:
  - label: Почта
    type: email
  - label: Логин
  - label: Имя
  - label: Фамилия
  - label: Телефон
    type: tel
  - label: Пароль
    type: password
  - label: Пароль (ещё раз)
    type: password
button: Зарегистрироваться
link: Войти
---
{{!< main}}
<form class='signup-page__form' action='./profile.html'>
  <h2 class='signup-page__header'>{{header}}</h2>
  <div class='signup-page__input-groups'>
    {{#each fields}}
      <label class='signup-page__label'>{{this.label}}</label>
      <input class='signup-page__input' {{#if this.type}}type='{{this.type}}'{{/if}}>
    {{/each}}
  </div>
  <button type='submit'>{{button}}</button>
  <a class='signup-page__link' href='./login.hbs'>{{link}}</a>
</form>
